*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(225, 235, 232);
}
.container-1{
    width: 100%;
    height: 100px;
    /* background-color: rgb(219, 188, 9); */
    background: linear-gradient( rgb(142, 228, 154),rgb(70, 236, 65));
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.container-1 #nav-logo {
    width: 100%;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(189, 255, 127); */
}
.container-1 #nav-logo img{
    width: 180px;
    height: 80px;
}



.searchbr{
   width: 100%;
   height: 100px;
    /* background-color: rgb(28, 216, 216); */
    display: flex;
    /* justify-content: center; */
    align-items: center;

    
}
.searchbr input{
    width: 400px;
    height: 43px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px rgb(35, 174, 184);
}


.searchbr #search-btn{
    width: 130px;
    height: 43px;
    outline: none;
    border: none;
    color: aliceblue;
    background: linear-gradient( rgba(192, 118, 99, 0.767),rgb(235, 80, 53));

}



#card1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: rgb(235, 6, 6); */
}
.card i{
    color: black;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card a{
    text-decoration: none;
}

.card{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#card2{
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   color: aliceblue;
   right: 10px;
   top: 7px;
   width: 15px;
   height: 15px;
   background-color: red;
   border-radius: 50%;
   font-size: 10px;
   cursor: pointer;
  
}

.nav-icons{
    display: flex;
    gap: 20px;
    margin-left: 10px;
    /* background-color: rgb(17, 27, 170); */
    margin-right: 15px;
}
.nav-icons a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  
}




@media only screen and (min-width: 400px) and (max-width: 600px){
    .container-1 #nav-logo img{
        width: 100px;
        height: 60px;
    }
    
.card{
    display: none;
  
}
#card2{
   display: none;
   
    
}
.nav-icons{
  display: none;
   

}
    
#header{
    width: 10%;
    height: 60px;
    background-color: rgb(138, 86, 86);
    /* display: flex;
    align-items: center;
    margin-left: 15px; */
    position: relative;
    bottom: 80px;
    
    }
    
    }








/* navbar.... */








.container3{
    width: 100%;
    height: 60px;
    /* background-color: rgb(135, 206, 42); */
    display: flex;
    /* position: fixed; */
}



#navbar1 {
    width: 21%;
    height: 60px;
    background: linear-gradient( rgba(192, 118, 99, 0.767),rgb(235, 80, 53));
    margin-left: 100px;


   
}

#logo-png{
 position: relative;
 left: 30px;
 top: 20px;
 
}
#logo-png h6{
    font-size: 22px;
    color: rgb(255, 255, 255);
}
#navbar1 ul{
    width: 21%;
    height: 60vh;
    background-color: rgb(255, 0, 179);
    margin-top: 45px;
   float: right;
   position: fixed;
   left: -100;
   top: 175px;
   display: none;
 
}

#navbar1 ul li{
 
    list-style: none;
    
}
#navbar1 ul li a{
   text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  margin: 30px;
  color: rgb(0, 0, 0);
  
 
}
#checkbtn{
    float: right;
    font-size: 20px;
    margin: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;

}
#check{
    display: none;
}
#check:checked ~ ul{
  left: -350px;
}










/* header */


#header{
width: 70%;
height: 60px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
margin-left: 15px;

}
#header a{
color: rgb(51, 134, 123);
}
#header a:hover{
width: auto;
height: auto;
background: linear-gradient( rgba(192, 118, 99, 0.767),rgb(235, 80, 53));
color: rgb(255, 255, 255);
}















/* page.........! */









.container4{
    width: 100%;
    height: 90vh;
    /* background-color: rgb(221, 107, 107); */
   
 
}
.container4 #sl-colom1{
    width: 100%;
    height: 83vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: end;
}
.sl-imgs {
    width: 74.6%;
     height: 500px;
    /* background-color: brown */
}


.sl-imgs img{
    /* width: 75%; */
    height: 500px;
   
    
    
}


@media only screen and (min-width: 300px) and (max-width: 767px){
    .sl-imgs {
        width: 74.6%;
         height: 400px;
        /* background-color: brown */
    }
    .sl-imgs img{
        /* width: 75%; */
        height: 380px;
       
    }
    .container4 #sl-colom1{
        width: 100%;
        height: 70vh;
        /* background-color: cadetblue; */
       
    }
    .container4{
        width: 100%;
        height: 70vh;
        /* background-color: rgb(221, 107, 107); */
       
     
    }
    
}







/* card.....! */
/* text */




.text-slid-colom{
    width: 100%;
    height: 100px;
    background-color: rgb(219, 217, 217);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}








/* container5 */
/* card... */







.container5{
    height: auto;
    /* background-color: chartreuse; */
}








.card-container1{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px 2px rgb(226, 224, 224);
}
.card-colom1{
    width: 88%;
    height: 350px;
    /* background-color: aqua; */
    /* margin-bottom: 10px; */
}


#card-text-1{
    width: 100%;
    height: 40px;
    /* background-color: rgb(49, 49, 190); */
    display: flex;
 
   
}



#card-text-2 p{
    width: 40px;
    height: 20px;
    background-color: rgb(177, 226, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: rgb(8, 121, 42);
    font-size: 11px;
}

#card-dot1{
    width: 20px;
    height: 20px;
    /* background-color: rgb(226, 171, 17); */
    border: 1px solid green;
    /* gap: 50px; */
    display: flex;
    justify-content: center;
    /* align-items: end; */
   
    
}
#card-dot1 p{
width: 10px;
height: 10px;
background-color: green;
border-radius: 50%;
margin-top: 3px;



}
.card-box1{
    display: flex;
    justify-content: end;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .card-box1{
        display: flex;
        /* justify-content: end; */
        /* background-color: blueviolet; */

    } 
    #card-text-1{
        display: flex;
       
    }
    #card-dot1{
        position: relative;
        bottom: 33px;
    }

  

}




.card-image{
    display: flex;
    justify-content: center;
    transition: transform 0.1s;
    cursor: pointer;
}
.card-image:hover{
    transform: scale(1.1);
   }




   
   #card-text-3{
    width: 100%;
    height: 140px;
  /* background-color: rgb(133, 133, 133);   */
 display: flex;
 justify-content: center;
 align-items: center;

  }
  #card-text-3 button{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background: linear-gradient( rgba(250, 139, 75, 0.767),rgb(236, 66, 35));
    box-shadow: 1px 1px 1px rgb(250, 120, 120);
    border-radius: 18px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    /* gap: 10px; */
  }
  #card-text-3 #price2{
    color: rgb(51, 141, 114);
  }
  #card-text-3 #price3{
    position: relative;
    left: 23px;
    bottom: 5px;
    color: rgb(60, 70, 67);
  }
  #card-text-3 #price1{
    position: relative;
    left: 21px;
    bottom: 5px;
  }
  #card-text-3 button{
    position: relative;
    left: 15px;
    bottom: 10px;
  }


  .cadr-text-4{
    width: 150px;
    height: 130px;
    /* background-color: red; */
   
  }








  /* !-- conatiner 6  */
/* text.... -- */

.product-text{
     height: 100px;
     display: flex;
     color: rgb(76, 211, 166);
     align-items: center;
     /* background-color: rgb(219, 217, 217); */
}


    /* !-- conatiner   */
/* text.... -- */



.container7{
    height: auto;
    /* background-color: rgb(37, 71, 110); */
}





/* <!-- conatiner8 --> */
/* <!-- fresh vegetable image --> */



.vege-image{
width: 100%;
height: 280px;
/* background-color: aqua; */
display: flex;
align-items: end; 
}
.vege-image img{
    width: 100%;
    height: 200px; 
   
}



  /* !-- conatiner 9 */
/* text.... -- */

.product-text1{
    height: 100px;
    display: flex;
    color: rgb(76, 211, 166);
    align-items: center;
    /* background-color: rgb(100, 71, 71); */
}






/* <!-- container10 -->
  <!-- scroler images --> */






  .container10{
    height: 60vh;
    background-color: bisque;
  }



  /* container11 */
  /* <!-- delivery discount --> */



  .container11{
    height: 29vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
  }

  .colom-delivery{
    display: flex;
    
  }
  .colom-delivery i{
    font-size: 20px;
  }
  .text-roundx{
    color:  rgb(15, 106, 122);
    /* background-color: antiquewhite; */
    margin: 10px;
    font-size: 14px;
  }
  .text-roundx p{
    color:  rgb(68, 74, 75);
  }
  #round-delivery{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid rgb(15, 106, 122);
    display: flex;
    justify-content: center;
    align-items: center;
  }













  /* footer */

  footer{
    width: 100%;
    height: 53vh;
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    /* display: grid;
    grid-template-columns: 20% auto 20% auto 20%; */
    display: flex;
  }
  .container12{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* background-color: aqua; */
  }

  .footer-colom1{
    width: 100%;
    height: 270px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    
  }


  #sm-com1{
    width: 85%;
    height: 180px;
    /* background-color: aliceblue; */
  }
  #sm-com1 p{
    font-size: 12px;
    margin-top: 20px;
    /* background-color: blue; */
    
  }
  #sm-com1 a:hover{
    color: rgb(0, 0, 0);
  }

  #sm-com1 p a{
    text-decoration: none;
    color: rgb(131, 131, 131);
  }

  #sm-com1 #p1{
   position: relative;
   bottom: 15px;
   
  }
  #sm-com1 #p2 a{
    position: relative;
    bottom: 29px;
    color: rgb(66, 122, 66)
   }
   #sm-com1 #p3 a{
    position: relative;
    bottom: 45px;
    color: rgb(81, 98, 156)
   }
  .footer-colom1 img{
    width: 160px;
    height: 60px;
  }






  .footer-colom2{
    width: 100%;
    height: 270px;
    /* background-color: rgb(43, 63, 63); */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sm-com2{
    width: 70%;
    height: 180px;
    /* background-color: aliceblue; */
  }

  .footer-colom2 #sm-com2 p a{
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 14px;


  }

  .footer-colom2 #sm-com2 #pa1{
    position: relative;
    top: 18px;
  }
  .footer-colom2 #sm-com2 #pa2{
    position: relative;
    bottom: 18px;
  }

  .footer-colom2 #sm-com2 #pa3{
    position: relative;
    bottom: 36px;
  }
  .footer-colom2 #sm-com2 #pa4{
    position: relative;
    bottom: 54px;
  }
  .footer-colom2 #sm-com2 p a:hover{
    color: black;
  }



  .footer-colom3{
    width: 100%;
    height: 270px;
    /* background-color: rgb(182, 121, 51); */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  #sm-com3{
    width: 80%;
    height: 180px;
    /* background-color: aliceblue; */
  }

  .footer-colom3 #sm-com3 a{
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 14px;
  }
  
  .footer-colom3 #sm-com3 #pa5{
    position: relative;
    top: 18px;
  }
  .footer-colom3 #sm-com3 #pa6{
    position: relative;
    bottom: 18px;
  }

  .footer-colom3 #sm-com3 #pa7{
    position: relative;
    bottom: 36px;
  }
  .footer-colom3 #sm-com3 #pa8{
    position: relative;
    bottom: 54px;
  }
  .footer-colom3 #sm-com3 p a:hover{
    color: black;
  }

  .footer-colom4{
    width: 100%;
    height: 270px;
    /* background-color: rgb(40, 51, 73); */
    display: flex;
    align-items: center;
    justify-content: center;
  }


  #sm-com4{
    width: 80%;
    height: 180px;
    /* background-color: aliceblue; */
  }

  .footer-colom4 #sm-com4 a{
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 14px;
  }
  
  .footer-colom4 #sm-com4 #pa9{
    position: relative;
    top: 18px;
  }
  .footer-colom4 #sm-com4 #pa10{
    position: relative;
    bottom: 18px;
  }

  .footer-colom4 #sm-com4 #pa11{
    position: relative;
    bottom: 36px;
  }
  .footer-colom4 #sm-com4 #pa12{
    position: relative;
    bottom: 54px;
  }
  .footer-colom4 #sm-com4 p a:hover{
    color: black;
  }

  .footer-colom5{
    width: 100%;
    height: 270px;
    /* background-color: rgb(76, 124, 47); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-colom5 #sm-com5{
    width: 80%;
    height: 180px;
    /* background-color: aliceblue; */
  }

  .footer-img-icone{
    display: flex;
    gap: 5px;
    position: relative;
    top: 15px;
    /* background-color: aqua; */


  }

  .footer-img-icone img{
   width: 80px;
  }








  @media only screen and (min-width: 300px) and (max-width: 767px){
    .container12{
        width: auto;
        display: grid;
        grid-template-columns: 50% 50% ;
        /* background-color: aqua; */
      }

    .footer-colom1{
        width: 100%;
        height: 200px;
        /* background-color: rgb(192, 226, 43); */
    }

    .footer-colom2{
        width: 100%;
        height: 200px;
        /* background-color: rgb(101, 226, 43); */
    }
    .footer-colom3{
        width: 100%;
        height: 200px;
        /* background-color: rgb(137, 139, 124); */
    }
    .footer-colom4{
        width: 100%;
        height: 200px;
        /* background-color: rgb(46, 48, 37); */
    }

    .footer-colom5{
        width: 100%;
        height: 200px;
        /* background-color: rgb(121, 138, 170); */
    }


    #sm-com1{
        width: 100%;
        height: 180px;
        background-color: aliceblue;
      }
      #sm-com1 p{
        font-size: 11px;
        margin-top: 20px;
        /* background-color: blue; */
        
      }
      .footer-colom2 #sm-com2 p a{
        font-size: 13px;
      }

      .footer-colom3 #sm-com3 p a{
        font-size: 13px;
      }
      .footer-colom4 #sm-com4 p a{
        font-size: 13px;
      }

      .footer-colom5 #sm-com5 p a{
        font-size: 13px;
      }

      .footer-colom1 img{
        width: 120px;
        height: 60px;
      }
   
      .container11{
        /* height: 29vh; */
        height: auto;
        /* background-color: rgb(97, 146, 134); */
      
      }
      footer{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
      
  .container13{
    width: auto;
    height: 100px;
    background: #000;
    
  }

  }


  }













  /* <!-- footer2 --> */
  /* <!-- container13... --> */



  .container13{
    width: 100%;
    height: 100px;
    background: #000;
    display: flex;
    align-items: center;
  }


  .footer2-text p{
    color: rgb(255, 255, 255);
    font-size: 12px
  }

  .footer2-text1{
    display: flex;
   justify-content: end;
  }


  